Source: json2sh
Section: contrib/utils
Priority: optional
Maintainer: Valentin Hilbig <webmaster@scylla-charybdis.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.7
Homepage: https://github.com/hilbix/json2sh
Vcs-Git: https://github.com/hilbix/json2sh.git
Vcs-Browser: https://github.com/hilbix/json2sh

Package: json2sh
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Convert JSON into bash compatible output
 Access JSON content from shell scripts
